.grand-semaine{
    margin-left: 12%;
}
.roles{
    margin-left: 12%;

}
.petitecalendrier{
    margin-right: 80%;
    display: block;
}

.namedp{
    display: block;
    padding-top: 200px;

}

element {
    white-space: pre;
}
.temps{
    /* display: block; */
    /* padding-right: 30px; */
    margin-left: 18.9%;

}


 .border{
    border-left: 8px solid black;
    height: 1450px;
  position: absolute;
  left: 18.6%;
  margin-right: 30px;
  top: 0;
 }