.picker {
    height: 25rem;
}

/* .grand-semaine {
    left: 40rem;
} */

.date {
    height: 15rem;
}

/* .week {} */

.border {
    border: 4px solid black;
    height: 1331px;
    position: absolute;
    /* left: 20.35rem; */
    top: 0;

}